body {
    background-color: rgb(255, 255, 255);
}
ul {
    font-family: Montserrat;
    padding-left: 0; 
    margin-left: 0;
}
li {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}
#line{
    font-weight: 200;
    color: gray;
}
#cor{
    color: rgb(228, 50, 50);
}
#mon{
    color: rgb(92, 90, 90);
}
#fr{
    color: rgba(77, 6, 77, 0.849);
}

h2{
    line-height: 1.5;
    font-size: 40px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.q{
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px;
    color: gray;
}

p{
    font-size: 23px;
    color: rgb(94, 92, 92);
    line-height: 1.5;
}

.correc{
    font-family: Montserrat;
    font-weight: 450;
    color: rgb(5, 92, 150);
}

.pic {
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 650px;
}